$primary-white: #fcfcfc;
$secondary-white: #eaeaea;
$primary-black: #252525;
$primary-gray: #767676;
$secondary-gray: #505050;
$background-gray: #ececec;
$orange-color: #ff753a;
$primary-red: #ab0433;
